*{
    background: rgb(36,35,35);
    
}


h1{
    color:Black;
    background: lightgreen;
    text-align: center;
    font-family: FinkHeavy;
    font-weight: 10;
    

 
}



.container {
    text-align: center;
    margin: auto; 

  
  }
  
  button { height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-style: hidden;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Lexend", sans-serif;
    box-shadow: 0 5px #999;
  }

  button:hover {
    background-color: #fbca73ff; 
    color: rgb(0, 0, 0);
  }

  button:active {
  
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  p{background-color: rgb(255, 255, 255);
    border: black, 1px, solid;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    font-family: "Lexend", sans-serif;
  
    
  }

  .next{
    background-color: #80d23cff;
   height:auto;
    display:flex;
    justify-self:center ;
    justify-content: center;

  }
  .next:hover {
    background-color:  #2167aaff;
    color: rgb(0, 0, 0);
  }
